.error-add-product{
    color:red;
}

.error-add-review{
    color:red;
}

.my-banner {
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: rgb(3, 3, 3)e;
    background-color: orange;
}

li{
    padding-right: 15px;
}

.menu-pre-auth{
    display: block;
}

.menu-post-auth{
    display: none;
}


input {
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0;
    width: 100%;
}